.mainFlex{
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
}

.mainContainer{
    width: 63%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 4em;
}

.leftContainer{
    /* width: 65%; */
    border: 2px solid #F0F0F0;
    border-radius: 5px;
    background-color: white;
    margin-right: 1em;
}

.rightContainer{
    border: 2px solid #F0F0F0;
    border-radius: 5px;
    background-color: white;
    width: 38%;
    height: 50%;
}

.buttonContainer{
    display: block;
}