.mainFlex{
    display: flex;
    justify-content: center;
}

.mainContainer{
    width: 63%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.leftContainer{
    /* width: 65%; */
    border: 2px dotted red;
}

.rightContainer{
    border: 2px dotted blue;
    width: 38%;
}

.buttonContainer{
    display: block;
}