.homeContainer{
    background-color: #F0F0F0;
    padding-top: 2em;
}

.flexCarousel{
    display: flex;
    justify-content: center;
}

.carouselContainer{
    border: 2px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 60%;
}

.carousel{
    border: 2px solid blue;
    width: 500px;
}

.content{
    height: '160px';
    color: white;
    line-height: '160px';
    text-align: 'center';
    background: black;
}