
.flexTop{
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
}

.topBarContainer{
    /* border: 2px dotted red; */
    display: flex;
    background-color: #F0F0F0;
    height: 2em;
    width: 63%;
    /* width: 1200px; */
}

.topBarInfoContainer{
    /* border: 2px dotted green; */
    display: flex;
    align-items: center;
    width: 300px;
}

.topBarRegion{
    /* border: 2px solid gold; */
    display: flex;
    align-items: center;
}

.topBarContact{
    /* border: 2px solid gold; */
    display: flex;
    align-items: center;
    margin-left: 2em;
    width: 150px;
}

.topBarContact:hover{
    cursor: pointer;
}

.topBarText{
    margin-left: 1em;
}

.flexMid{
    display: flex;
    justify-content: center;
}

.mainContainer{
    /* border: 2px dashed blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    height: 4em;
    width: 63%;
    /* width: 1200px; */
}

.mainLeftContainer{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    width: 60%;
    justify-content: space-between;
}

.logoLink{
    position: absolute;
    /* border: 2px solid red; */
    height: 50px;
    width: 150px;
}

.logo:hover{
    cursor: pointer;
}

.mainRightContainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
}

.mainRightContainer:hover{
    cursor: pointer;
}

.cartCount{
    border: 2px solid rgb(42, 100, 219);
    border-radius: 50%;
    background-color: rgb(42, 100, 219);
    color: white;
    width: 1em;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon{
    font-size: 2.5em;
    padding-top: 5px;
    color: rgb(70, 70, 70);
}

.flexBottom{
    display: flex;
    justify-content: center;
}

.bottomContainer{
    /* border: 2px solid red; */
    height: 2em;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 63%;
    /* width: 1200px; */
}

.bottomText{
    /* border: 2px dotted red; */
    text-align: start;
    color: blue;
}

.bottomText:hover{
    cursor: pointer;
}
