.searchBar{
    border: 2px solid grey;
    border-radius: 2em;
    width: 350px;
    height: 15px;
    padding: 1em;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.searchInput{
    border: none;
    width: 250px;
}   

.searchInput:focus{
    outline: none;
}

.iconContainer{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.clearIcon{
    margin-right: 1em;
    color: rgb(42, 100, 219);
}

.clearIcon:hover{
    cursor: pointer;
}

.searchIconContainer{
    border: 2px solid rgb(42, 100, 219);
    background-color: rgb(42, 100, 219);
    border-radius: 17px;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}