.flexCarousel{
    display: flex;
    justify-content: center;
}

.carouselContainer{
    border: 2px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 60%;
}

.controlsContainer{
    display: flex;
    /* border: 2px dotted red; */
    position: absolute;
    margin-top: 340px;    
}

.control{
    border: solid white;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
}

.control:hover{
    cursor: pointer;
}